@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: '#2C5E9E';
  --secondary: '#E65A71';
  --background: '#EDF6FF';
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}
p {
  margin: 0 !important;
}

.home_gradient_bg {
  background: linear-gradient(135deg, #1488cc 0%, #2b32b2 100%);
}
